---
layout: default
prism: true
permalink: /identification/shrubs/{{ title | slug }}/
---
{# Base tree page built on default #}
<div class="container w-full mt-6 px-6">
    <h1 class="font-bold text-center text-5xl">{{title}}</h1>
    <hr class="mt-12">
    <div class="relative px-4 pb-12 sm:px-6 lg:px-8 ">
        <div class="relative mx-auto max-w-none ">
            <div class="grid gap-4 mx-4 mt-12 md:grid-cols-2 lg:grid-cols-4 max-w-2xl lg:max-w-none">
                {% set  shrubslist = collections.shrub %}

                {% for shrub in  shrubslist | reverse %}
                    <div class="flex flex-col overflow-hidden rounded-lg  border-solid border-2 border-opacity-50 border-black shadow-2xl  h-96">
                            <div class="relative flex-shrink-0">
                                
                                    <img class="object-cover w-full  h-96" src="/static/img/sunset.jpg" alt="Thumbnail">
                                    
                                
                                    
                            </div>
                            
                            
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <hr class="mb-12">
    <article class="prose lg:prose-xl my-4 mx-auto">
        {{ content | safe }}
    </article>

</div>