---
layout: shrubs
---
{# shrubs index page inherits from shrubs.html and then default.html #}
<section class="mt-15">
    {% set  shrubslist = collections.shrub %}

    {% for shrub in  shrubslist | reverse %}
        <article class="my-8">
            <h2 class="font-bold text-3xl text-gray-900 mb-2">
                <a href="{{ shrub.url | url }}">
                    {% if shrub.data.title %}
                        {{ shrub.data.title }}
                    {% else %}
                        Untitled
                    {% endif %}
                </a>
            </h2>
            <p class="text-base leading-6 text-gray-500 mb-3">
                <time>
                    {{ shrub.date | readableDate }}
                    by
                    <a>{{ shrub.data.author }}</a>

                </time>
            </p>
            {% if shrub.data.description %}
                <p class="text-lg text-gray-500 mb-3">
                    {{ shrub.data.description }}
                </p>
            {% endif %}

            <p>
                <a href="{{ shrub.url | url }}" class="text-indigo-500 font-bold text-lg">
                    Deeerrrrr →
                </a>
            </p>

        </article>
    {% endfor %}
</section>