---
layout: default
title: CLozzy
path: home
---
{# Homepage built on default #}
<div class="mx-auto flex flex-col items-center">
  <div
    class="w-full flex items-center"
    x-data="{
                  active: 1,
                  loop() {
                      setInterval(() => { this.active = this.active === 4 ? 1 : this.active+1 }, 3000)
                  },
              }"
    x-init="loop"
  >
    <div
      
      class="h-96 w-full flex overflow-x-hidden"
    >
      <div
        class="bg-black w-full absolute"
        x-show.transition.in.scale.100.duration.1000ms.opacity.30.out.scale.100.duration.1000ms.opacity.10="active == 1"
        
      >
        <img
          
          class="w-full h-96 object-cover bg-no-repeat bg-cover opacity-90"
          alt="1"
          src="/static/img/sunset.jpg"
        />
      </div>
      <div
        class="bg-black w-full absolute"
        x-show.transition.in.scale.100.duration.1000ms.opacity.30.out.scale.100.duration.1000ms.opacity.10="active == 2"
       
      >
        <img
          
          class="w-full h-96 object-cover bg-no-repeat bg-cover opacity-90"
          alt="2"
          src="/static/img/dogwood.jpg"
        />
      </div>
      <div
        class="bg-black w-full absolute"
        x-show.transition.in.scale.100.duration.1000ms.opacity.30.out.scale.100.duration.1000ms.opacity.10="active == 3"
        
      >
        <img
          
          class="w-full h-96 object-cover bg-no-repeat bg-cover opacity-90"
          alt="3"
          src="/static/img/sassafras.jpg"
        />
      </div>
      <div
        class="bg-black w-full absolute"
        x-show.transition.in.scale.100.duration.1000ms.opacity.30.out.scale.100.duration.1000ms.opacity.10="active == 4"
        
      >
        <img
          
          class="w-full h-96 object-cover bg-no-repeat bg-cover opacity-90"
          alt="4"
          src="/static/img/honey_locust_thorn.jpg"
        />
      </div>
    </div>
  </div>
  
  <div class="container items-center">
    <hr class="my-12">
    {% image "src/static/img/honey_locust_thorn.jpg", "photo of my cat", "(min-width: 30em) 50vw, 100vw" %}    

    <p class="text-center">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <hr class="my-12">
    <h1 class="font-bold text-center text-5xl">Services</h1>
    <div class="relative px-4 pb-12 sm:px-6 lg:px-8 ">
      <div class="relative mx-auto max-w-none ">
          <div class="grid gap-8 mx-4 mt-12 md:grid-cols-2 lg:grid-cols-4 max-w-2xl lg:max-w-none ">
              {% if navigation.item_services %}

                {% for item in navigation.item_services %}
                    <div class="flex flex-col overflow-hidden rounded-lg  border-solid border-2 border-opacity-50 border-black shadow-2xl transition ease-in-out duration-500 transform hover:scale-105 h-64">
                          <div class="relative flex-shrink-0">
                              <a href="{{ item.url }}">
                                  <img class="object-cover w-full opacity-50 h-96" src="/static/img/sunset.jpg" alt="Thumbnail">
                                  
                              </a>
                                  
                          </div>
                          <div class="absolute w-full text-center text-black my-28">
                              <p class="text-3xl tracking-widest font-black">
                                {{ item.text }}
                              </p>
                          </div>
                          
                    </div>
                {% endfor %}
              {% endif %}
          </div>
      </div>
    </div>
  </div>

  {# {% include "./_includes/partials/content.html" %} #}
</div>