<footer class="absolute flex justify-center bottom-0 text-center w-full bg-gray-800">
    <div class="flex text-gray-300 h-16 text-sm">Copyright 
        
        <a href="{{settings.url}}" target="_blank"> {{settings.name}} </a>
        {{settings.year}}
        •
        <a href="#" class="underline" target="_blank" rel="noopener"> Wakawaka</a>
        <a href="http://localhost:8081/_site/static/img/github-plus.png" class="underline ml-4" target="_blank" rel="noopener"><img src="/static/img/github-plus.png" alt="Facebook" width="12" height="12"></a>
        {# <a href="#" class="underline" target="_blank" rel="noopener"><img src="/src/static/img/" alt="Facebook"></a> #}

    </div>
</footer>
{# /home/muskrat/Documents/sassafras_site/_site/static/img/github-plus.png #}