<!-- Thisrequires Tailwind CSS v2.0+ -->
<nav class="bg-gray-800">
  <div class="max-w-full mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16 ">
      <!-- Mobile menu button-->
      <div x-data="{ open: false, show: true }" class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        {# start with hamburger, when button is clicked toggle to x and open menu, when clicked again close menu and swith back to hamburger -- uses alpinejs#}
        <button class="inline-flex items-center justify-center p-1 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          {# Hamburger #}
          <svg x-on:click="open = true, show=!show" x-show="show" x-on:click.away="show = true" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          {# X #}
          <svg x-show="!show" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
        <!-- Mobile menu - uses alpinejs -->
        <div x-show.transition="open" x-on:click.away="open = false" class="absolute z-10 top-16 block w-32 sm:hidden bg-gray-800">
            <div class="px-2 pt-2 pb-3 space-y-1">
              {# loop through navigation.yaml and find main header links for hamburger#}
              {% if navigation.item_main %}
                {% for item in navigation.item_main %}
                  <a href="{{ item.url }}" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">{{ item.text }}</a>
                {% endfor %}
              {% endif %}
            </div>
        </div>
      </div>
      <div class="flex  items-center  justify-end mr-3 w-full sm:w-auto md:w-auto lg:w-auto xl:w-auto 2xl:w-auto ">
        <div class="flex-shrink-0 flex items-center">
          <img class="hidden sm:hidden md:hidden lg:block h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg" alt="Workflow">
          <img class="block md:block lg:hidden h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-logo-indigo-500-mark-white-text.svg" alt="Workflow">
        </div>
      </div>
      <div class="flex items-center justify-center hidden md:hidden sm:items-stretch sm:justify-center lg:hidden xl:block xl:ml-6 xl:flex-shrink-0 2xl:block 2xl:ml-6 2xl:flex-shrink-0">
        {# <div class="hidden md:hidden lg:hidden xl:block xl:ml-6 xl:flex-shrink-0 2xl:block 2xl:ml-6 2xl:flex-shrink-0"> #}
          <p class="flex text-gray-300 text-5xl tracking-widest justify-center">Sassafras Tree Service</p>
        {# </div> #}
      </div>
      <div class="items-center justify-center hidden sm:block sm:ml-6 sm:flex-shrink-0 sm:items-stretch sm:justify-end">
        {# <div class="hidden sm:block sm:ml-6 sm:flex-shrink-0"> #}
          <div class="flex space-x-4">
            {# navigation items are stored in navigation.yaml #}
            <a href="{{ navigation.item_main[0].url }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">{{ navigation.item_main[0].text }}</a>
            {# dropdown hover alpinejs #}
            <div x-data="{ open: false }" @mouseover.away = "open = false" class="relative top-1 mt-0.5 bg-gray-800">
                <a @mouseover="open = true" href="{{ navigation.item_main[1].url }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">{{ navigation.item_main[1].text }}</a>
                <div x-show.transition="open" class="absolute z-10 left-0 w-40 mt-2 py-2 bg-gray-800">
                  {# loop through and find service drop down links #}
                  {% if navigation.item_services %}
                    {% for item in navigation.item_services %}
                      <a href="{{ item.url }}" class="transition-colors duration-200 block text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">{{ item.text }}</a>
                    {% endfor %}
                  {% endif %}   
                </div>
            </div>
            <div x-data="{ open: false }" @mouseover.away = "open = false" class="relative top-1 mt-0.5 bg-gray-800">
                <a @mouseover="open = true" href="{{ navigation.item_main[2].url }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">{{ navigation.item_main[2].text }}</a>
                <div x-show.transition="open" class="absolute z-10 left-0 w-40 mt-2 py-2 bg-gray-800"> 
                   {# loop through and find id dropdown links #}
                   {% if navigation.item_id %}
                    {% for item in navigation.item_id %}
                      <a href="{{ item.url }}" class="transition-colors duration-200 block text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">{{ item.text }}</a>
                    {% endfor %}
                  {% endif %}    
                </div>
            </div>
            <a href="{{ navigation.item_main[3].url }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">{{ navigation.item_main[3].text }}</a>
            <a href="{{ navigation.item_main[4].url }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">{{ navigation.item_main[4].text }}</a>
            <a href="{{ navigation.item_main[5].url }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">{{ navigation.item_main[5].text }}</a>

          </div>
        {# </div> #}
      </div>
      
    </div>
  </div>


  
</nav>
